<!DOCTYPE html>
<html lang="en">


<%- include('partials/head'); -%>


<body>
	<%- include('partials/nav'); -%>
	<main>
		<div class="container pt-5">
			<div class="row">
				<div class="col-12" style="margin-top: 10vh;">
					<h2>Goals for Darkan</h2>
					<p>Automatic generation of random server-wide goals on <strong>Darkan</strong></p>
					<hr>
					<div class="card automatic">
						<p>
							Easy to use (Like it's just a website)
							<ul>
								<li>
									Can be expanded to include more goals
								</li>
								<li>
									Doesn't require Linux (at least on your part)
								</li>
							</ul>
						</p>
					</div>
					<div class="card automatic">
						<p>
							Great results
							<br>
							<img src="https://i.imgur.com/tUpnoGx.png">
						</p>
					</div>
					<div class="card automatic">
						<p>
							Website designed by Panjkrc
							<br>
							Content designed by OsrsNeedsF2P
							<hr>
							Source code available here: <a href="https://github.com/dginovker/Darkan-Global-Goals">https://github.com/dginovker/Darkan-Global-Goals</a>
						</p>
					</div>

				</div>
			</div>

		</div>

	</main>
</body>
<%- include('partials/footer'); -%>
</html>